.landing-screen-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px; 
    left: 0px;
    z-index: 3;
}

.landing-screen-bg{
    box-sizing: content-box;
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #eb8f73, #e46193, #23A605, #2305AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    transition: all 2s ease;
}

.landing-screen-button{
    font-size: 2.5rem;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5rem 5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
}

.landing-screen-button-hover:hover{
    /* background-color: rgba(255, 255, 255, 0.904); */
    transform: translate(-50%, -50%) scale(0.95);
    color: rgb(85, 255, 218);
    border: 3px solid rgb(85, 255, 218);
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%; 
    }
    100%{
        background-position: 0 50%;
    }
}

@keyframes screenSlideUp { 
    0%{ 
        transform: translateY(0);
        
    }
    80%{
        transform: translateY(-80px);
        opacity: 0%;
    }
    100%{
        transform: translateY(-100px);
        opacity: 0%;
    }
}